<section class="sidebar">
      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MENU PRINCIPAL</li>

        <li><a href="./"><i class="glyphicon glyphicon-home"></i> <span>Inicio</span></a></li>
        <li><a href="./Empresas"><i class="glyphicon glyphicon-folder-close"></i> <span>Empresas</span></a></li>
        <li><a href="./Personas"><i class="glyphicon glyphicon-user"></i> <span>Personas</span></a></li>
        <li><a href="./Cuentas"><i class="glyphicon glyphicon-align-justify"></i> <span>Cuentas</span></a></li>
        <li><a href="./Polizas"><i class="glyphicon glyphicon-list"></i> <span>Polizas</span></a></li>


        <li class="treeview">
          <a href="#">
            <i class="glyphicon glyphicon-user"></i> <span>Usuarios</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active">
              <a href="./Usuarios"><i class="fa fa-circle-o"></i>Usuarios</a>
            </li>
            <li>
              <a href="./Perfiles"><i class="fa fa-circle-o"></i>Perfiles</a>
            </li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="glyphicon glyphicon-file"></i> <span>Reportes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active">
              <a href="#">
                <i class="fa fa-circle-o"></i>Reporte 1
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-circle-o"></i>Reporte 2
              </a>
            </li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="glyphicon glyphicon glyphicon-asterisk"></i> <span>Configuracion</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active">
              <a href="#">
                <i class="fa fa-circle-o"></i>Configuracion
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </section>